
<div class="">
    <div class="name">
        <div class="img">
            <img src="https://img.freepik.com/free-icon/user_318-159711.jpg" [src]="imgSrc"   alt="" class="img__user" id="img__user">
        </div>
        <div class="name__fullname">
            <p class="name__fullname--text" id="name__fullname--text">{{FullName??"User"}}</p>
        </div>
        <div class="close_navbar--icon flex-grow-1 d-flex justify-content-end d-lg-none pe-3">
          <i class="pi pi-times" style="cursor: pointer;" (click)="toggleNavbar()"></i>
      </div>
    </div>
    <div class="navbar__title">
        <p class="navbar__title--text">Chức năng hệ thống</p>
    </div>
    <div class="navbar__information">
      <ul class="navbar__information--list nav navbar-nav">
        <li class="information__list--items" >
          <span [routerLinkActive]="['active']" [routerLink]="['/information']">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
            <span class="information__list--items__text"  >
                <a id="information__list" (click)="Show()">Thông tin cá nhân</a>
            </span>
          </span>
          <ul class="change__information" [style]="StyleInfor" id="change__information">
              <li class="change__information--items" [routerLinkActive]="['active']" [routerLink]="['/changeInfor']">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                  <span class="information__list--items__text">
                      <a id="information__list--items__text">Thay đổi thông tin</a>
                  </span>
              </li>
              <li class="change__information--items" [routerLinkActive]="['active']" [routerLink]="['/changePassWord']">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                  <span class="information__list--items__text">   
                      <a id="changePassword__list--items__text">Đổi mật khẩu</a>
                  </span>
              </li>
          </ul>
        </li>
        <li class="information__list--items" [routerLinkActive]="['active']" [routerLink]="['/registerLectureSchedule']">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
          </svg>
          <span class="information__list--items__text">
            <a id="Register_Schedule">Đăng ký lịch giảng</a>
          </span>
        </li>
        <li class="information__list--items" [routerLinkActive]="['active']" [routerLink]="['/viewLectureSchedule']" >
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
          </svg>
          <span class="information__list--items__text">
            <a id="Registed__Schedule">Xem lịch giảng</a>
          </span>
        </li>
        <li class="information__list--items" [routerLinkActive]="['active']" [routerLink]="['/login']" (click)="Logout()">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
          </svg>
          <span class="information__list--items__text navbar__header__logout">
            <a href="/login">Đăng xuất</a>
          </span>
        </li>
      </ul>
    </div>
</div>