<div class="">
  <div class="information" id="information">
    <div class="account ">
      <div class="account__acc col-md-12">
          <h1 class="account__acc--info">Đổi mật khẩu</h1>
      </div>
      <div class="account__infor col-md-12">
        <div class="account__infor--email row float-left">
            <h2 class="account__infor--email__text">Mật khẩu cũ</h2>
            <!-- <input [type]="typePassword" class="ng-invalid ng-dirty" pInputText [(ngModel)]="passWordOld"> -->
            <p-password  
              [toggleMask]="true" 
              [(ngModel)]="passWordOld" 
              promptLabel="Điền mật khẩu"  
              weakLabel="Quá yếu" 
              mediumLabel="Trung bình" 
              strongLabel="Tốt" 
              [inputStyle]="{'width':'100%'}"
              [style]="{'width':'100%'}"
            />
        </div>
        <div class="account__infor--email row float-left">
          <h2 class="account__infor--email__text">Mật khẩu mới</h2>
          <!-- <input [type]="typePassword" class="ng-invalid ng-dirty" pInputText [(ngModel)]="passWordNew"> -->
          <p-password  
              [toggleMask]="true" 
              [(ngModel)]="passWordNew" 
              promptLabel="Điền mật khẩu"  
              weakLabel="Quá yếu" 
              mediumLabel="Trung bình" 
              strongLabel="Tốt" 
              [inputStyle]="{'width':'100%'}"
              [style]="{'width':'100%'}"
            />
        </div>
        <div class="account__infor--email row float-left">
          <h2 class="account__infor--email__text">Nhập lại mật khẩu mới</h2>
          <!-- <input [type]="typePassword" class="ng-invalid ng-dirty" pInputText [(ngModel)]="confirmPassWord"> -->
          <p-password  
              [toggleMask]="true" 
              [(ngModel)]="confirmPassWord" 
              promptLabel="Điền mật khẩu"  
              weakLabel="Quá yếu" 
              mediumLabel="Trung bình" 
              strongLabel="Tốt" 
              [inputStyle]="{'width':'100%'}"
              [style]="{'width':'100%'}"
            />
        </div>
        <button  pButton  pRipple  label="Cập nhật"  class="p-button-primary mt-3" (click)="Save()"> </button>
      </div>
    </div>
  </div>
</div>