<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 d-none d-lg-block container_left_side ps-0">
            <div class="container_navbar" *ngIf="toShow">
                <app-navbar ></app-navbar>
            </div>
        </div>
        <div class="bar_icon d-lg-none" *ngIf="toShow">
            <i 
            (click)="toggleNavbar()" 
            class="pi pi-bars m-1"></i>
        </div>
        <div [class]="body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
